<p id="notice"><%= notice %></p>


    <% if @links %>
    <% @links.each do |link| %>
      <ul class="list-inline">
                <li>
                  <%= link_to link.url, :class => "btn btn-order btn-large" do %>
                      <i class="icon-shopping-cart"></i> $<%= format_price(link.price) %> on <%= if link.domain.include? "kckb.st" then "kickstarter.com"; else link.domain end %>
                  <% end %>
                </li>
        </ul>
        <% if logged_in? %>
        <td><%= link.country %></td>
        <td><%= link_to 'Edit', edit_product_link_path(@product,link) %></td>
        <td><%= link_to 'Destroy', product_link_path(@product,link), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>


<% if logged_in? %>
<br/>
<%= link_to 'New Link', new_product_link_path(@product) %>
<% end %>
