<p id="notice"><%= notice %></p>


    <% if @links %>
    <% @links.each do |link| %>
      <ul class="list-inline">
        <li><h4 class="product_price">PRICE: $<%= link.price %></h4></li>
                <li>
                  <%= link_to product_link_path(@product,link) do %>
                    <ul class="list-inline">
                      <li><div class="buy_text"><p>view on <%= link.domain %></p></div></li>
                    </ul>
                  <% end %>
                </li>
        </ul>
        <% if logged_in? %>
        <td><%= link.country %></td>
        <td><%= link_to 'Edit', edit_product_link_path(@product,link) %></td>
        <td><%= link_to 'Destroy', product_link_path(@product,link), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>


<% if logged_in? %>
<br/>
<%= link_to 'New Link', new_product_link_path(@product) %>
<% end %>
