<%= javascript_include_tag "zz.uploader" %>

<%= form_for(@product, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :one_liner %><br>
    <%= f.text_area :one_liner %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :images %><br>
    <%= f.file_field :images %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.select :country, [['USA','USA'],['Canada','Canada'],['Test','Test']] %>
  </div> 
  <div class="field">
    <%= f.label :specs %><br>
    <%= f.text_area :specs  %>
  </div>
  <div class=field">
    <%=f.label :editor_pick %><br>
    <%=f.check_box :editor_pick %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
