  <!-- begin:catalogue -->
  <div id="catalogue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-title">
            <ul class="list-inline">
              <% if @sort=="hot" %>
              <li><img src="//image.toppicks.tech/img/view_all.png"/></li>
              <li><h2>VIEW ALL</h2></li>
              <% elsif @sort=="views" %>
             <li><img src="//image.toppicks.tech/img/top_viewed.png"/></li>
              <li><h2>TOP VIEWED</h2></li>
              <% elsif @sort=="editor" %>
                  <li><img src="//image.toppicks.tech/img/editor_pick.png"/></li>
                  <li><h2>EDITOR PICK</h2></li>
              <% elsif @sort=="new" %>
                      <li><img src="//image.toppicks.tech/img/new_old.png"/></li>
                    <li><h2>NEW TO OLD</h2></li>
              <% end %>
            </ul>
            <p>Great products for everyone who is interested in innovation!</p>
          </div>
        </div>
      </div>

      <div class="row">

        <% @products.each do |product| %>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 small_only" >
          <div class="wow animated fadeInDown thumbnail" >
            <div class="caption-img" style="background: url(<%= to_cdn(product.images) %>)no-repeat center center;"></div>

            <div class="caption-details">
              <ul>
                <li><h3><%= product.name %></h3></li>
                <li><p class="module line-clamp product_description" <%= if product.approved then " "; else 'style=color:#7f0000' end %>><%= if product.one_liner then product.one_liner; else product.description end %></p></li>
                <li><p class="product_price">PRICE: <%= product.get_price_range(get_country) %></p></li>
              </ul>
              </div>

              <div class="view_details">
                <%= link_to 'VIEW DETAIL', product, action: "show", class: "price" %>
              </div>
              <% if logged_in? %>
                <%= link_to 'Copy', copy_product_path(product) %>
                <%= link_to 'Edit', edit_product_path(product) %>
                <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>

          </div>
        </div>

        <% end %>
        <script>
            var mods =  document.getElementsByClassName("line-clamp");
            for (var i = 0; i < mods.length; i++) 
            {
                $clamp(mods[i], {clamp: 3, useNativeClamp: false});

            }
            
        </script> 
      </div>
        <% if logged_in? %>
        <%= link_to 'New Product', new_product_path %>
        <% end %>
        
    </div>
  </div>
  <!-- end:catalogue -->
                             
