<% @title = @product.name %>
<% @description = @product.description %>
<% @image = to_cdn(@product.images) %>
<% @meta = @product.description %>
<!-- begin:heading -->
  <div class="heads">
    <div class="container ">
      <div class="row">
        <div class="col-md-12">
          <h2>Product Details</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- end:heading -->
  
  <!-- begin:content -->
  <div class="page-content">
    <div class="page_container_xl container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Product Detail</li>
            </ol>
        </div>
      </div>
    <!-- begin share tag -->
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.encode(request.original_url) %>&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="//image.toppicks.tech/img/social_flat_rounded_rects_svg/Facebook.svg"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=<%= URI.encode(request.original_url) %>&text=:%20<%= URI.encode(@product.name) %>" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="//image.toppicks.tech/img/social_flat_rounded_rects_svg/Twitter.svg"></a></li>
  <li><a href="https://plus.google.com/share?url=<%= URI.encode(request.original_url) %>" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="//image.toppicks.tech/img/social_flat_rounded_rects_svg/Google%2B.svg"></a></li>
  <li><a href="http://pinterest.com/pin/create/button/?url=<%= URI.encode(request.original_url) %>&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img src="//image.toppicks.tech/img/social_flat_rounded_rects_svg/Pinterest.svg"></a></li>
  <li><a href="http://www.reddit.com/submit?url=<%= URI.encode(request.original_url) %>&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="//image.toppicks.tech/img/social_flat_rounded_rects_svg/Reddit.svg"></a></li>
</ul>
        <!-- end share tag -->
      <div class="row">
      <a name="about"></a>
        <!-- begin:product-content -->
        <div class="col-xl-offset-2 col-xl-8 col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 single-item">
          <div class="row">
            <div class="col-xl-6 col-md-5 col-sm-5 col-xs-5 page_content_xs page_img_xl">
              <div id="itemsingle" class="carousel slide clearfix">
              
                <div class="carousel-inner">
                  <div class="item active">
                     <%= image_tag(to_cdn(@product.images)) %>
                  </div>
                </div>
                
                <ol class="carousel-indicators">
                  <li data-target="#itemsingle" data-slide-to="0" class="active"><%= image_tag(to_cdn(@product.images), :class => "img-responsive") %></li>
                </ol>
              
              </div>
            </div>
            <div class="col-xl-4 col-md-7 col-sm-7 col-xs-7 page_content_xs page_content_xl product_content">
              <%  if logged_in? %>
                <%= link_to 'Edit', edit_product_path(@product) %>
              <% end %>
              <h3><%= @product.name %></h3>
              <p><%= @product.description.gsub(/\n/, '<br/>').html_safe %></p>

              <%= render :partial => 'links/index' %>
              <!-- start: product price and btn section >
              <ul class="list-inline">
                <li><h4 class="product_price">PRICE: $<%= @product.price %></h4></li>
                <li>
                  <a href="#">
                    <ul class="list-inline">
                      <li><img src="//image.toppicks.tech/img/buy_amazon.jpg" class="buy_btn"></li>
                      <li><div class="buy_text"><p>BUY NOW</p></div></li>
                    </ul>
                  </a>
                </li>
              </ul>

              <ul class="list-inline">
                <li><h4 class="product_price">PRICE: $<%= @product.price %></h4></li>
                <li>
                  <a href="#">
                    <ul class="list-inline">
                      <li><img src="//image.toppicks.tech/img/buy_ebay.jpg" class="buy_btn"></li>
                      <li><div class="buy_text"><p>BUY NOW</p></div></li>
                    </ul>
                  </a>
                </li>
              </ul>

              <ul class="list-inline">
                <li><h4 class="product_price">PRICE: $<%= @product.price %></h4></li>
                <li>
                  <a href="#">
                    <ul class="list-inline">
                      <li><img src="//image.toppicks.tech/img/buy_bestbuy.jpg" class="buy_btn"></li>
                      <li><div class="buy_text"><p>BUY NOW</p></div></li>
                    </ul>
                  </a>
                </li>
              </ul>

              <!-- end: product price and btn section -->
              <%= link_to  product_path(@product, :external =>"true"), :class => "btn btn-order btn-large"  do %>
<i class="icon-shopping-cart"></i>View at <%= if @product.domain.include? "kckb.st" then "kickstarter.com"; else @product.domain end %><% end %>
            
              <% if logged_in? %>
              <p><%= @product.views %> views </p>
              <p><%= @product.click %> clicks </p>
              <% end %>
              
            </div>
          </div>


          <!-- begin:tab -->
          <div class="row hidden">
            <div class="col-md-12 col-xs-12 product-tabs">
              <ul id="myTab" class="nav nav-tabs">
                  <li class="active"><a href="#info" data-toggle="tab">More Info</a></li>
                  <li class="hidden"><a href="#review" data-toggle="tab">Review</a></li>
                  <li class="hidden"><a href="#related" data-toggle="tab">Related Items</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="info">
                  </div>
                  <div class="tab-pane fade" id="review">
                <p>Howdy, I'm in Section 2. Etiam luctus, tellus sed varius facilisis, turpis nisl mollis metus, adipiscing scelerisque felis dui ac lacus.
                Etiam luctus, tellus sed varius facilisis, turpis nisl mollis metus, adipiscing scelerisque felis dui ac lacus.</p>
                  </div>
                  <div class="tab-pane fade" id="related">
                    <div class="row">
                  <ul class="thumbnails list-unstyled">
                    <li class="col-md-4 col-sm-4 col-xs-4 small_only">
                    <div class="thumbnail">
                    <div class="caption-img"></div><!-- The image placement is located in the style css, background -->
            
                    <div class="caption-details">
                    <ul>
                      <li><h3>Border Canary</h3></li>
                      <li><p class="product_price">PRICE: $200 CDN</p></li>
                    </ul>
                      </div>

                      <div class="view_details">
                        <a href="#" class="price">VIEW DETAIL</a>
                      </div>
                    </div>
                    </li>

                    <li class="col-md-4 col-sm-4 col-xs-4 small_only">
                    <div class="thumbnail">
                    <div class="caption-img"></div><!-- The image placement is located in the style css, background -->
            
                    <div class="caption-details">
                    <ul>
                      <li><h3>Border Canary</h3></li>
                      <li><p class="product_price">PRICE: $200 CDN</p></li>
                    </ul>
                      </div>

                      <div class="view_details">
                        <a href="#" class="price">VIEW DETAIL</a>
                      </div>
                    </div>
                    </li>
                    
                    <li class="col-md-4 col-sm-4 col-xs-4 small_only">
                    <div class="thumbnail">
                    <div class="caption-img"></div><!-- The image placement is located in the style css, background -->
            
                    <div class="caption-details">
                    <ul>
                      <li><h3>Border Canary</h3></li>
                      <li><p class="product_price">PRICE: $200 CDN</p></li>
                    </ul>
                      </div>

                      <div class="view_details">
                        <a href="#" class="price">VIEW DETAIL</a>
                      </div>
                    </div>
                    </li>
                  </ul>
                </div>
                  </div>
                </div>

            </div>
          </div>
          <!-- end:tab -->
        </div>
        <!-- end:product-content -->
      </div>
    </div>
  </div>
  
  
