<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
   <meta property="fb:app_id" content="528023644055911" />
   <meta property="og:url" content="<%= request.original_url %>" />
   <meta property="og:title" content="<%= if @title then @title; else "TOP PICKS" end %>" />
   <meta property="og:description" content="<%= if @description then @description; else "We pick it, you enjoy it!" end %>" />
   <meta property="og:image" content="<%= if @image then "http:"+@image; else "http://image.toppicks.tech/img/logo.jpg" end %>" />

  <title><%= if @title then @title; else "TOP PICKS" end %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Google Font Orbitron 400,700, 500-->
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,700,500' rel='stylesheet' type='text/css'>

    <!-- Google Font Lato 400 -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        <ul class="list-inline">
          <li><h3 class="navbar-brand visible-xs" href="#">TOP PICKS</h3></li>
          <li><a href="/" class="navbar-brand_logo visible-xs"><img src="//image.toppicks.tech/img/logo.jpg"/></a></li>
        </ul>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav nav-left">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact" class="extra-space">Contact</a></li>
        </ul>
        <a href="/" class="logo visible-lg visible-md visible-sm"><img src="//image.toppicks.tech/img/logo.jpg" /></a>
       <div id="brand" class="visible-lg visible-md visible-sm">&nbsp;</div>
      <ul class="nav navbar-nav nav-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "VIEW ALL", root_path(:sort => "hot") %></li>
          <li><%= link_to "TOP VIEWED", root_path(:sort => "views") %></li>
          <li><%= link_to "EDITOR'S PICK", root_path(:sort => "editor") %></li>
          <li><%= link_to "NEW TO OLD", root_path(:sort => "new") %></li>
        </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MEDIA<b class="caret"></b></a>
        <ul class="dropdown-menu">

          <li>
            <a href="https://www.facebook.com/toppicks.tech" target="_blank">
              <ul class="list-inline">
                <li><img src="//image.toppicks.tech/img/facebook_icon.png" class="dropdown_media_icon"/></li>
                <li><p>FACEBOOK</p></li>
              </ul>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/toppicks_tech" target="_blank">
              <ul class="list-inline">
                <li><img src="//image.toppicks.tech/img/twitter_icon.png" class="dropdown_media_icon"/></li>
                <li><p>TWITTER</p></li>
              </ul>
            </a>
          </li>

          <li>
            <a href="https://www.reddit.com/r/toppicks" target="_blank">
              <ul class="list-inline">
                <li><img src="//image.toppicks.tech/img/reddit_icon.png" class="dropdown_media_icon"/></li>
                <li><p>REDDIT</p></li>
              </ul>
            </a>
          </li>

          <li class="divider"></li>
          <li><a href="#" class="hidden">MEDIA KIT</a></li>
        </ul>
        </li>

        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Country<b class = "caret"></b></a>
        <ul class="dropdown-menu">

        <!-- START FLAG -->
        <li>
          <%= link_to root_path(:country=>"Canada") do %>
            <ul class="list-inline">
              <li><img src="//image.toppicks.tech/img/cn_flag.jpg" class="flag"/></li>
              <li><p>CANADA</p></li>
             </ul>
          <% end %>
        </li>

        <li>
          <%= link_to root_path(:country=>"USA") do %>
            <ul class="list-inline">
              <li><img src="//image.toppicks.tech/img/us_flag.jpg" class="flag"/></li>
              <li><p>US</p></li>
             </ul>
          <% end %>
        </li>
        <!-- END FLAG -->

        </ul>
        </li>
        <% if logged_in? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><%= link_to "Affiliate", affiliates_path %></li>
            <li><%= link_to "Product", products_path %></li>
            <li><%= link_to "Feedbacks", feedbacks_path %></li>
            <li><%= link_to "sign out", logout_path, method: "delete" %></li>
            </ul>
            </li>
        <% end %>
      </ul>

      <!-- END FLAG ICON -->

        </div><!-- /.navbar-collapse -->

              <!-- START FLAG ICON -->
      <div class="flag_icon">
          <ul class="list-inline <%= "hidden" unless get_country=="Canada" %>">
              <li><img src="//image.toppicks.tech/img/cn_flag.jpg" class="flag"/></li>
              <li><p>CA</p></li>
          </ul>

          <ul class="list-inline <%= "hidden" unless get_country=="USA" %>">
              <li><img src="//image.toppicks.tech/img/us_flag.jpg" class="flag"/></li>
              <li><p>US</p></li>
          </ul>

      </div>

      </div><!-- /.container-fluid -->
    </nav>

<%= yield %>

	
	<!-- begin:footer -->
	<div id="footer">
        <a name="contact"></a>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>FOLLOW US</h3>
					<p>We are a small startup that is passionate in discovering the technology world.<br>Please share our website if you like our selections, thank you for your support!</p>
				</div>
			</div>

			<ul class="wow fadeInLeftBig list-inline">
				<li><a target="_blank"  href="https://twitter.com/toppicks_tech"><div id="twitter_icon"></div></a></li>
				<li><a target="_blank" href="https://www.reddit.com/r/toppicks"><div id="reddit_icon"></div></a></li>
				<li><a target="_blank" href="https://www.facebook.com/toppicks.tech"><div id="facebook_icon"></div></a></li>
		    </ul>

			<div class="sitemap hidden">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="#">ABOUT</a></li>
					<li><a href="#">PRODUCT</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end:footer -->
	
	<!-- begin:copyright -->
	<div id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<small>Copyright &copy; 2016 TOP PICKS All Right Reserved.</small>
				</div>
			</div>
		</div>
	</div>
	<!-- end:copyright -->
	<script>
	 new WOW().init();
	</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74369770-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
